
src/.vs/Jaeger.Repositorio/FileContentIndex/000a492b-c031-46c4-8359-73464ee81968.vsidx
src/.vs/Jaeger.Repositorio/FileContentIndex/ac09d40a-c530-4021-8085-cfc3bd39d57d.vsidx
src/.vs/Jaeger.Repositorio/FileContentIndex/e612b677-ebda-4d3e-ab32-46801cc8c598.vsidx
src/Jaeger.Repositorio/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
src/Jaeger.Repositorio/obj/Debug/DesignTimeResolveAssemblyReferences.cache
src/Jaeger.Repositorio/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/Jaeger.Repositorio/obj/Debug/Jaeger.Repositorio.csproj.AssemblyReference.cache
src/SAT.CFDI.Services.API/bin/Debug/Jaeger.SAT.CFDI.Services.API.dll
src/SAT.CFDI.Services.API/bin/Debug/Jaeger.SAT.CFDI.Services.API.dll
src/SAT.CFDI.Services.API/bin/Debug/Jaeger.SAT.CFDI.Services.API.pdb
src/SAT.CFDI.Services.API/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
src/SAT.CFDI.Services.API/obj/Debug/Jaeger.SAT.CFDI.Services.API.csproj.FileListAbsolute.txt
src/SAT.CFDI.Services.API/obj/Debug/Jaeger.SAT.CFDI.Services.API.csproj.CoreCompileInputs.cache
src/SAT.CFDI.Services.API/obj/Debug/Jaeger.SAT.CFDI.Services.API.csproj.AssemblyReference.cache
src/SAT.CFDI.Services.API/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/SAT.CFDI.Services.API/obj/Debug/DesignTimeResolveAssemblyReferences.cache
src/SAT.CFDI.Services.API/obj/Debug/Jaeger.SAT.CFDI.Services.API.pdb
src/SAT.CFDI.Services.API/obj/Debug/Jaeger.SAT.CFDI.Services.API.dll
src/SAT.CFDI.Services.API/bin/Debug/Jaeger.SAT.CFDI.Services.API.dll
src/SAT.CFDI.Services.API/bin/Debug/Jaeger.SAT.CFDI.Services.API.pdb
tests/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
tests/obj/Debug/Jaeger.Repositorio.csproj.AssemblyReference.cache
src/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
src/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/obj/Debug/Jaeger.SAT.CFDI.Services.API.csproj.AssemblyReference.cache
src/obj/Debug/Jaeger.SAT.CFDI.Services.API.csproj.CoreCompileInputs.cache
src/obj/Debug/Jaeger.SAT.CFDI.Services.API.csproj.FileListAbsolute.txt
src/obj/Debug/Jaeger.SAT.CFDI.Services.API.dll
src/obj/Debug/Jaeger.SAT.CFDI.Services.API.pdb
src/.vs/Jaeger.Repositorio/FileContentIndex/b71cdd66-5530-40b7-975f-aaf41c6aaebe.vsidx
src/.vs/Jaeger.Repositorio/v17/.suo
src/.vs/Jaeger.Repositorio/v17/.suo
src/.vs/Jaeger.Repositorio/v17/.suo
src/bin/Debug/Jaeger.SAT.CFDI.Services.API.dll
src/bin/Debug/Jaeger.SAT.CFDI.Services.API.pdb
src/obj/Debug/Jaeger.SAT.CFDI.API.csproj.AssemblyReference.cache
src/obj/Debug/Jaeger.SAT.CFDI.API.csproj.CoreCompileInputs.cache
src/obj/Debug/Jaeger.SAT.CFDI.API.csproj.FileListAbsolute.txt
src/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
tests/.vs/Jaeger.Repositorio/FileContentIndex/159d52d9-0596-4bb8-9462-803815d7f6c6.vsidx
tests/.vs/Jaeger.Repositorio/FileContentIndex/54818eaa-6256-4970-ae0b-3408717bdf49.vsidx
tests/.vs/Jaeger.Repositorio/v17/.suo
tests/bin/Debug/Jaeger.Repositorio.exe
tests/bin/Debug/Jaeger.Repositorio.exe.config
tests/bin/Debug/Jaeger.Repositorio.pdb
tests/obj/Debug/DesignTimeResolveAssemblyReferences.cache
tests/obj/Debug/Jaeger.Repositorio.csproj.CoreCompileInputs.cache
tests/obj/Debug/Jaeger.Repositorio.csproj.FileListAbsolute.txt
tests/obj/Debug/Jaeger.Repositorio.csproj.GenerateResource.cache
tests/obj/Debug/Jaeger.Repositorio.exe
tests/obj/Debug/Jaeger.Repositorio.Forms.MainForm.resources
tests/obj/Debug/Jaeger.Repositorio.pdb
tests/obj/Debug/Jaeger.Repositorio.Properties.Resources.resources
