
src/.vs/Jaeger.Repositorio/FileContentIndex/000a492b-c031-46c4-8359-73464ee81968.vsidx
src/.vs/Jaeger.Repositorio/FileContentIndex/ac09d40a-c530-4021-8085-cfc3bd39d57d.vsidx
src/.vs/Jaeger.Repositorio/FileContentIndex/e612b677-ebda-4d3e-ab32-46801cc8c598.vsidx
src/Jaeger.Repositorio/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
src/Jaeger.Repositorio/obj/Debug/DesignTimeResolveAssemblyReferences.cache
src/Jaeger.Repositorio/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/Jaeger.Repositorio/obj/Debug/Jaeger.Repositorio.csproj.AssemblyReference.cache
src/SAT.CFDI.Services.API/bin/Debug/Jaeger.SAT.CFDI.Services.API.dll
src/SAT.CFDI.Services.API/bin/Debug/Jaeger.SAT.CFDI.Services.API.dll
src/SAT.CFDI.Services.API/bin/Debug/Jaeger.SAT.CFDI.Services.API.pdb
src/SAT.CFDI.Services.API/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
src/SAT.CFDI.Services.API/obj/Debug/Jaeger.SAT.CFDI.Services.API.csproj.FileListAbsolute.txt
src/SAT.CFDI.Services.API/obj/Debug/Jaeger.SAT.CFDI.Services.API.csproj.CoreCompileInputs.cache
src/SAT.CFDI.Services.API/obj/Debug/Jaeger.SAT.CFDI.Services.API.csproj.AssemblyReference.cache
src/SAT.CFDI.Services.API/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/SAT.CFDI.Services.API/obj/Debug/DesignTimeResolveAssemblyReferences.cache
src/SAT.CFDI.Services.API/obj/Debug/Jaeger.SAT.CFDI.Services.API.pdb
src/SAT.CFDI.Services.API/obj/Debug/Jaeger.SAT.CFDI.Services.API.dll
src/SAT.CFDI.Services.API/bin/Debug/Jaeger.SAT.CFDI.Services.API.dll
src/SAT.CFDI.Services.API/bin/Debug/Jaeger.SAT.CFDI.Services.API.pdb
tests/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
tests/obj/Debug/Jaeger.Repositorio.csproj.AssemblyReference.cache
src/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
src/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/obj/Debug/Jaeger.SAT.CFDI.Services.API.csproj.AssemblyReference.cache
src/obj/Debug/Jaeger.SAT.CFDI.Services.API.csproj.CoreCompileInputs.cache
src/obj/Debug/Jaeger.SAT.CFDI.Services.API.csproj.FileListAbsolute.txt
src/obj/Debug/Jaeger.SAT.CFDI.Services.API.dll
src/obj/Debug/Jaeger.SAT.CFDI.Services.API.pdb
src/.vs/Jaeger.Repositorio/FileContentIndex/b71cdd66-5530-40b7-975f-aaf41c6aaebe.vsidx
src/.vs/Jaeger.Repositorio/v17/.suo
src/.vs/Jaeger.Repositorio/v17/.suo
src/.vs/Jaeger.Repositorio/v17/.suo
src/bin/Debug/Jaeger.SAT.CFDI.Services.API.dll
src/bin/Debug/Jaeger.SAT.CFDI.Services.API.pdb
src/obj/Debug/Jaeger.SAT.CFDI.API.csproj.AssemblyReference.cache
src/obj/Debug/Jaeger.SAT.CFDI.API.csproj.CoreCompileInputs.cache
src/obj/Debug/Jaeger.SAT.CFDI.API.csproj.FileListAbsolute.txt
